<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="us.zoom.sdkexample"
      android:versionCode="1"
      android:versionName="1.0"
      android:installLocation="auto">
    
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="27"/>
    
    <uses-feature android:glEsVersion="0x00020000"/>
    
    <!--
        Commented content should be opened if your ADT version is lower than v20, 
        or you remove the "manifestmerger.enabled=true" from project.properties
    -->
    
    <!-- 
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    -->
    
    <permission android:name="us.zoom.sdkexample.permission.KUBI_MESSAGE"
        android:protectionLevel="signature" />
    
    <uses-permission android:name="us.zoom.sdkexample.permission.KUBI_MESSAGE" />
    
    <application android:label="@string/this_app_name"
        android:icon="@drawable/ic_launcher">

        <activity android:name="us.zoom.sdkexample.WelcomeActivity"
            android:label="@string/this_app_name"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/ZMTheme.MainWindow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="us.zoom.sdkexample.MainActivity"
                  android:label="@string/this_app_name"
                  android:icon="@drawable/ic_launcher"
                  android:theme="@style/ZMTheme.MainWindow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="us.zoom.sdkexample.LoginActivity"
            android:label="@string/this_app_name"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/ZMTheme.MainWindow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="us.zoom.sdkexample.PreMeetingExampleActivity"
            android:label="@string/this_app_name"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/ZMTheme.MainWindow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="us.zoom.sdkexample.ScheduleMeetingExampleActivity"
            android:label="@string/this_app_name"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/ZMTheme.MainWindow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name="us.zoom.sdkexample.MyInviteActivity"
                  android:label="@string/invite_acitivity_name"
                  android:icon="@drawable/ic_launcher"
                  android:theme="@style/ZMTheme.MainWindow" >
            <intent-filter>
                <action android:name="us.zoom.sdkexample.intent.action.MeetingInvite" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name="us.zoom.sdkexample.MyWaitJoinActivity"
                  android:icon="@drawable/ic_launcher"
                  android:theme="@style/ZMTheme.MainWindow" >
            <intent-filter>
                <action android:name="us.zoom.sdkexample.intent.action.JoinBeforeHost" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                
        <activity android:name="us.zoom.sdkexample.MyCallMeByPhoneActivity"
                  android:icon="@drawable/ic_launcher"
                  android:theme="@style/ZMTheme.MainWindow" >
            <intent-filter>
                <action android:name="us.zoom.sdkexample.intent.action.CallMyPhone" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
    
</manifest> 
