<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="us.zoom.sdkexample2"
      android:versionCode="1"
      android:versionName="1.0"
      android:installLocation="auto">

    <uses-feature android:glEsVersion="0x00020000"/>
    
    <permission android:name="us.zoom.sdkexample2.permission.KUBI_MESSAGE"
        android:protectionLevel="signature" />
    
    <uses-permission android:name="us.zoom.sdkexample2.permission.KUBI_MESSAGE" />
    
    <application android:label="@string/this_app_name"
        android:icon="@drawable/ic_launcher">
        
        <activity
            android:name="us.zoom.sdkexample2.MainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/this_app_name"
            android:screenOrientation="landscape"
            android:theme="@style/ZMTheme.MainWindow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="us.zoom.sdkexample2.MyMeetingActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:theme="@style/ZMTheme.SubWindow"
            android:screenOrientation="landscape" />
        
    </application>
    
</manifest> 
